<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="changeStateSidebar()">menu</mat-icon>
    </button>
    <div>
      <a mat-button [routerLink]="'/gettingstarted'">GETTING STARTED</a>
      <a mat-button [routerLink]="'/docs'">DOCS</a>
      <a mat-button [routerLink]="'/blog'">BLOG</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="showSidenav$ | async">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/myprofile'">My Profile</a>
      <a mat-list-item [routerLink]="'/shoppingcard'">Shopping Card</a>
      <a mat-list-item [routerLink]="'/info'">Info</a>
      <br/>
      <a mat-list-item (click)="changeStateSidebar()">Close</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="height: 100vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
